$font-family-sans-serif: "Roboto", sans-serif;

$spacer: 4px;
$grid-gutter: $spacer * 6;
$container-padding-x: $grid-gutter;

$recipe-view-content-height: calc(100vh - 276px); // header + footer + gutters + add recipe button = 276px

$headings: (
    'h4': (
        'weight': 500
    ),
    'h5': (
        'size': 1.625rem,
        'weight': 700
    ),
);

// Colors
$primary: #DE4E51;
$primary-disabled: #E77B7D;

$disabled-button-text: #FFF;
